.FirstCard {
    height: 300px;

    background: linear-gradient(90deg, #8A2387 0%, #E94057 46.35%, #F27121 100%);
    box-shadow: 4px 4px 15px 10px rgba(0, 0, 0, 0.25);
    border-radius: 57px;
    padding: 25px;
}

.SecondCard {
    height: 300px;
    background: #ccc;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 45px;
}
