.OuterCard {
    width: 25%;
    height: 80%;

    background: linear-gradient(180deg, #8A2387 0%, #E94057 49.48%, #F27121 100%);
    box-shadow: 4px 4px 15px 10px rgba(0, 0, 0, 0.25);
    border-radius: 57px;
    margin: 0 15px 0 15px;
    display: block;
    color: #cccccc;
    padding: 20px;

}


.CardImg img {
    width: 100%;
    height: 100%;
    border-radius: 40px 40px 0 0;
}

.CardImg {
    height: 50%;
    border-radius: 40px 40px 0 0;
    box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.25);
}

.Text {
    position: relative;
    top: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #fff;
    margin-right: 10%;
    margin-left: 10%;
    /*margin: 30px;*/

}


.OuterCard .Button {
    position: relative;
    top: 20px;
    height: 25px;
    width: 75px;
    left: 30%;
    border-radius: 12px;
    border: none;
    background: #3DCBF8;
    margin-top: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/*.Button {*/
/*    height: 25px;*/
/*    width: 50px;*/
/*    border-radius: 12px;*/
/*    border: none;*/
/*    background: #3DCBF8;*/
/*}*/

.Button :active, :focus {
    outline: none;
}

.Button:hover {
    box-shadow: 0 0px 6px 6px #ccc;
    cursor: pointer;
    transition: box-shadow, .77s ease-in;
}
