.NavIcons {
    position: fixed;
    bottom: 20px;

}

ul {
    display: flex;
}

.MainIcons {
    display: flex;
    position: fixed;
    right: 110px;

}

.GitHub {
    display: flex;
    width: 92px;
    height: 92px;
    list-style-type: none;
    justify-content: center;
    align-items: center;


    border-radius: 48px;
}

.Jobs {
    display: flex;
    width: 92px;
    height: 92px;
    list-style-type: none;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;




    border-radius: 50px;
}

.Home {
    display: flex;
    width: 92px;
    height: 92px;
    list-style-type: none;
    margin-left: 50px;
    justify-content: center;
    align-items: center;

    border-radius: 48px;
}

.AboutMe {
    display: flex;
    width: 92px;
    height: 92px;
    list-style-type: none;
    margin-left: 50px;
    justify-content: center;
    align-items: center;

    border-radius: 48px;
}

.GitHub:hover, .AboutMe:hover, .Home:hover, .Jobs:hover {
    box-shadow: 0 0px 6px 6px #ccc;
    transition: box-shadow, .77s ease-in-out;
    cursor: pointer;
}

