.App {
    position: fixed;
    /*margin: 0 auto;*/
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing:border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #C31432 0%, #240B36 100%);
}
